/*This provides all of the CSS for the base.html file*/

#base_pic{

  height:100%;
  width:100%

}

#bottom{

  display: inline-block;

   background-color: #484848;
   height: 2.5em;
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;

}

#choice{
  
  background-color:transparent;
  top:28%; left:0; bottom:0; right:0;
  text-align:center;

  display: table-cell;
  vertical-align: middle;

}

#choice a{

  color: 	#FFFFFF;
  padding-left: 3%;
  padding-right: 3%;
  text-align:center;
  font-size: 1.0em;

}

.face{

  float:right;
  margin-top:.125%;
  margin-right:.75%;

}


#wrapper{

  height: 57%;
  width: 100%;
  background-image: url("base.png");

  display: table;

}
