.errorlist{
  color:red;
}

fieldset div div input{
  width:100%;
}

.form_container{
  margin: 0 auto;
  width: 30%;
  padding-top:2%;
}

input{
  background-color: #efefef;
}

li{
  margin-top:7%;
  margin-bottom:7%;
}

.outer{
  width:100%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.spacing{
  margin-top: 5%;
}

table{
  width:100%;
}

td{
  padding: 1%;
}

td input{
  width:103%;
}

textarea{
  background: #efefef;
  width:100%;
}
