/*This provides all of the CSS for the home.html file*/
.announcement_container{
  padding-top:2%;
  width:60%;
  margin: 0 auto;
  text-align:center;
  padding-bottom:50%;
}

.container{
  margin-top:3%;
  width:100%;
  text-align:center;
}

/*td{
  padding-left: 2%;
  padding-right: 2%;

}*/

#ad_table{

}

#insta{
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-size: 200px 200px;
  background-image: url("SAVV.jpg") !important;
  /*postion: relative;*/
}

#orgsync{
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-size: 200px 200px;
  background-image: url("OrgSync.png") !important;
  /*postion: relative;*/
}

#instagram_logo{
  width:40px;
  height:40px;
  bottom:0;
  right:0;
  margin-top: 80%;
  margin-left: 80%;
   /*position: absolute;*/
}
