.description{
  width: 90%;
}

img{
  float:right;
  /*padding:1px;*/
  border:1px solid #021a40;
  float: left;
  margin-right: 1%;
}

.name{
  text-align: left !important;
  color: 		#043495 !important;
  font-size: 1.5em !important;
}

.person_container {
  margin-top:3% !important;
  width: 60% !important;
}
/*.description{
  height: 400px;
}*/
