{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/contact.css" %}">

  <div class="outer">
    <div class="form_container">
      <form method="POST" action="">
        <!--Prevents attacks from cross site request forgery scipts -->
        {% csrf_token %}
          <ul>
              <li>
                <label = for="first_name">First Name</label>
                {{ contactform.first_name }}
              </li>
              <li>
                <label = for="last_name">Last Name</label>
                {{ contactform.last_name }}
              </li>
              <li>
                <label = for="phone_number">Phone Number</label>
                {{ contactform.phone_number }}
              </li>
              <li>
                <label = for="email">Email</label>
                {{ contactform.email }}
                <div style = "padding-top:7%; padding-bottom:7%">{{ contactform.email.errors}}</div>
              </li>
              <li>
                <label = for="message">Message</label>
                {{ contactform.message }}
              </li>
          </ul>
        <input type="submit" value="Submit Form"/>
      </form>
    </div>
  </div>

{% endblock %}
