<!--This file includes the bottom border and picture at the top of the page.-->

{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="{% static "css/home.css" %}">
<link rel="stylesheet" href="{% static "css/base.css" %}">


<div id="wrapper">

  <!-- <img id="base_pic"> -->

  <div id = "choice">

    <a href="{% url "home" %}" class="main_text">Home</a>
    <a href="{% url "about" %}" class="main_text">About Us</a>
    <a href="{% url "meet" %}" class="main_text">Meet Our Members</a>
    <a href="{% url "dining" %}" class="main_text">Campus Dining</a>
    <a href="{% url "contact" %}" class="main_text">Contact Us</a>

  </div>
</div>

{% block content %}


{% endblock %}
<div id ="bottom">

<!--  <img class="face"  src="{% static "images/fb.png" %}">
-->
</div>
